<div class="landing-page-main">
    <h2 class="logo">GrowthGenius</h2>
    <section class="top-section">
        <div class="head-txt-1 head">Przemień pracę w sukces</div>
        <div class="head-txt-2 head">Zwiększ wydajność zespołu</div>
        <div class="head-txt-3 body-txt">Przekształć zadania w sukcesy razem z GrowthGenius!</div>
        <button class="primary-btn" (click)="scrollToSingUpForm()" on>Dołącz do nas!</button>
        <a href="#benefits-section" class="arrow-down"><i class="material-icons">arrow_downward</i></a>
    </section>
    <section class="benefits-section" id="benefits-section" (mouseenter)="startAnimation()">
        <div #benefitsHeaderWrapper class="benefits-header-wrapper"> 
            <div class="benefits-header head" #benefitsHeader>Twoja przygoda zaczyna się tutaj.</div>
            <p>Odkryj niekończące się możliwości naszej aplikacji.</p>
        </div>
        <div class="benefits-container" #benefitsContainer>
            <div class="uppon-benefits-container">
                <app-benefit-card
                    [delay] = 0
                    [active] = 4000
                    headerTxt="Wspieraj Ciągłą Naukę"
                    bodyTxt="Dostarcz swojemu zespołowi narzędzi, które pomogą im uczyć się, rosnąć i dostosowywać się szybciej niż kiedykolwiek wcześniej. Nasza aplikacja jest narzędziem, które skutecznie zmotywuje Twój zespół do ciągłego rozwoju."
                    imgSrc="../../../../assets/images/man-with-laptop.svg"
                ></app-benefit-card>
                <app-benefit-card
                    [delay] = 4000
                    [active] = 4000
                    headerTxt="Mierz postępy"
                    bodyTxt="Zdobądź bieżącą wgląd w podróż rozwoju Twojego zespołu. Śledź statystyki rozwoju każdego pracownika, dzięki czemu będziesz mógł z łatwością określić kwotę podwyżki i zidentyfikować obszary do doskonalenia."
                    imgSrc="../../../../assets/images/woman-with-graph.svg"
                ></app-benefit-card>
            </div>
            <div class="bottom-benefits-container">
                <app-benefit-card
                    [delay] = 8000
                    [active] = 4000
                    headerTxt="Generuj Wyniki"
                    bodyTxt="Dzięki GrowthGenius obserwuj, jak wyniki Twojego zespołu rosną w zastraszającym tempie. Realizuj cele szybciej, podejmuj decyzje oparte na danych i pozostań krokiem przed konkurencją."
                    imgSrc="../../../../assets/images/rocket.svg"
                ></app-benefit-card>
            </div>
        </div>
    </section>
    <section class="cta-section">
        <div class="icon-container">
            <div class="icon-backgroud-item"></div>
            <img src="../../../assets/images/rocket-icon.svg" alt="img-4">
        </div>
        <h2>Gotów, aby zabrać swój zespół na wyższy poziom?</h2>
        <p>Rozpocznij swoją przygodę z GrowthGenius już teraz i odkryj przyszłość śledzenia postępów Twojego zespołu. Razem uczynimy sukces rzeczywistością!</p>
        <button class="primary-btn" (click)="scrollToSingUpForm()">Dołącz do nas!</button>
    </section>
    <section class="sign-up-section" #singUpFormSection>
        <h2>GrowthGenius już wkrótce będzie dostępny!</h2>
        <p>Nie przegap okazji na przyszły przełom! Bądź jednym z pierwszych, którzy będą mogli doświadczyć naszej innowacyjnej aplikacji. Dołącz do listy oczekujących!</p>
        <form 
            [formGroup]="singUpForm" 
            (ngSubmit)="signUp($event)" 
            [class.invisible]="isFormSended"
            [class.sign-up-form]="!isFormSended"
        >
            <mat-form-field appearance="outline">
                <input matInput type="email" formControlName="email" placeholder="Tutaj podaj swój e-mail" name="email"/>
            </mat-form-field>
            <button
                type="submit" 
                class="primary-btn"
                [disabled]="isSending"
            >
                Zgłaszam się!
            </button>
        </form>
        <img 
            src="../../../assets/images/icon-check.svg" 
            alt="img-5" 
            [class.invisible]="!isFormSended"
            [class.visibleIcon]="isFormSended">
    </section>
    <footer>
        <div class="footer-container">
          <div class="footer-border"></div>
          <div class="footer-content">
            <h3>GrowthGenius</h3>
          </div>
          <div class="copyright body-txt">&copy; 2023 GrowthGenius All rights reserved. Icons by <a href="https://icons8.com/">icons8.com</a></div>
          <div class="background-item item-4"></div>
        </div>
    </footer>
</div>
