main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-item {
    border-radius: 50%;
    position: absolute;
    //background-color: $primary-color;
    background: #2de6ff42;

}

.item-1 {
    height: 16rem;
    width: 16rem;
    top: 10%;
    right: 15%;
    filter: blur(5rem);
}

.item-2 {
    height: 5rem;
    width: 5rem;
    bottom: 40%;
    left: 10%;
    filter: blur(2.5rem);
    z-index: 0;
}

.item-3 {
    height: 9rem;
    width: 9rem;
    bottom: 10%;
    left: 30%;
    filter: blur(4rem);
    z-index: 0;
}