// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&family=Ubuntu&display=swap');

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$growth-genius-primary: mat.define-palette(mat.$teal-palette, 600);
$growth-genius-accent: mat.define-palette(mat.$teal-palette);
$my-typography: mat.define-typography-config();
$primary-color: #00897b;
$link-hover: #03c3b0;
$background-color: #212121c5;
$background-filled-color: #212121;
$body-background-color: #0A0909;
$text-color: #FCFCFC;
$frame-color: #ffffff1f;
$error-color: #be1313;
$error-background:#ffcaca;
$mobile-width: 767px;
$dashboard-min-width: 1000px;
$container-radius: 1rem;
$body-font-color: #b5c0bb;
$page-max-width: 1200px;

// The warn palette is optional (defaults to red).
$growth-genius-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$growth-genius-theme: mat.define-dark-theme(
  (
    color: (
      primary: $growth-genius-primary,
      accent: $growth-genius-accent,
      warn: $growth-genius-warn,
    ),
    typography: $my-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($growth-genius-theme);

html,
body {
  height: 100%;
  width: 100%;
  background-color: $body-background-color;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: $text-color;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1, h2, h3, .head {
  font-family: 'Source Sans 3', sans-serif;
}
p, .body-txt {
  color: $body-font-color;
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: #ffe4e4;
    --mat-mdc-snack-bar-button-color: #be1313;
    --mdc-snackbar-supporting-text-color: #be1313;
  }
  &.warn-snackbar {
    --mdc-snackbar-container-color: #f2efc7;
    --mat-mdc-snack-bar-button-color: #e0d208;
    --mdc-snackbar-supporting-text-color: #e0d208;
  }
  &.success-snackbar {
    --mdc-snackbar-container-color: #b0daab;
    --mat-mdc-snack-bar-button-color: #138e06;
    --mdc-snackbar-supporting-text-color: #138e06;
  }
}
