
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

@import './custom-theme.scss';

* {
  box-sizing: border-box;
}
button {
  border-radius: 1.5rem !important;
  text-wrap: nowrap;
  span {
    padding: 0 0.3rem;
    font-size: 1rem;
  }
}
.icon_btn:hover {
  cursor: pointer;
}
.form-button {
  height: 2.5rem !important;
}
.dialog-buttons-container {
  display: flex;
  padding: 0.5rem 0!important;
  button {
    width: 100%;
    margin: 0!important;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100vw;
  top: 5.5rem;
}
mat-card {
  border-radius: $container-radius !important;
  box-shadow: none!important;
}
mat-card {
  background-color: $background-color !important;
}
mat-toolbar {
  background-color: #3c3c3c00 !important;
}
mat-dialog-container,
.dialog,
.mat-mdc-dialog-surface {
  background-color: $background-filled-color !important;
}
.mat-mdc-dialog-surface, mat-dialog-container {
  border-radius: $container-radius !important;
}
.mat-mdc-dialog-surface{
  padding: 1rem;
  .dialog-buttons-container{
    gap: 1rem;
    justify-content: flex-end;
  }
}
//overriding mat-form-field height
mat-form-field{
  border-radius: 50%!important;

  .mat-mdc-text-field-wrapper {
    min-height: 52px;
  }
  .mdc-floating-label {
    padding-bottom: 14px;
  }
  .mat-mdc-form-field-infix {
    padding: 15px 0 0 0!important;
    min-height: 0;
  }
  .mat-mdc-input-element {
    padding-bottom: 6px;
  }
}

//Text dialogs
.text-dialog {
  max-width: 40rem;
  width: 90vw;
}
.text-dialog-content {
  max-height: 65vh;
  overflow-y: scroll;
}
.text-dialog-btn-close {
  margin-top: 2rem;
  width: 100%;
}

//Cuztomize scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  background: #f1f1f100;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 1rem;
  height: 2rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

//buttons
.primary-btn {
  background-image: linear-gradient(85.99deg, #00897B 2%, #0EC7B4 16.33%, #00897B 100%);
  background-size: 300%;
  background-position: left;
  transition: 1s background-position ease-in-out;

  border-radius: 3.5rem;
  font-size: 1.25rem;
  color: $text-color;
  border: none;
  padding: .9rem 2rem;
  cursor: pointer;
}
.primary-btn:hover {
  background-position: right;
}

//sidebar
mat-drawer-container {
  position: sticky!important;
  z-index: 99!important;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0)!important;
  .mat-drawer {
    background-color: $background-filled-color!important;
  }
}
.mat-drawer-content {
  scroll-behavior: smooth;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #00000077!important;
}

@media only screen and (min-width: $mobile-width) {
  .dialog-buttons-container {
    flex-wrap: nowrap!important;
    gap: 1rem;
    direction: rtl;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
